<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Film Reviews</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Teko:wght@500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/index.css">
    <script src="/js/gsap.min.js" defer></script>
    <script src="/js/ScrollTrigger.min.js" defer></script>
     <script src="/js/index.js" defer></script>

   
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
  </body>
    <header>
      <section class="dropdown-section">
        <button class="dropdown">
          <div></div>
          <div></div>
          <div></div>
        </button>
      </section>

      <section class="title-section">
        <h1 id="title">
          <ul class="weviews">
            <li>W</li>
            <li>e</li>
            <li>v</li>
            <li>i</li>
            <li>e</li>
            <li>w</li>
            <li>s</li>
          </ul>
        </h1>
      </section>

      <section class="search-section">
        <button class="btn btn-outline-secondary">Search</button>
      </section>
    </header>


    <nav class="main-nav">
      <ul>
        <li><a href="">Film Reviews</a></li>
        <li><a href="/allFilms">Films</a></li>
        <li><a href="">Add Review</a></li>
        <li><a href="">Search</a></li>
        <li><a href="">Log in</a></li>
      </ul>
    </nav>

    <section class="main-image-container"></section>
    <main>
    
      <h2 class="featured-content-heading">Browse the latest reviews</h2>
      <section class="latest-reviews-section">
        <div class="grid-wrapper">

          <div class="featured-content">
            <h2>Black Adam</h2> 
            <div class="image-container black-adam">
            </div>
            <p>
                It’s distinguished itself just enough to satiate action film fans, entertain future streaming audiences and warrant further merging into the DC universe. 
            </p>
            <a href="/oneFilm/Black%20Adam">Read More&nbsp.&nbsp.&nbsp.</a>
          </div>

          <div class="featured-content">
            <h2>Black Widow</h2>
            <div class="image-container black-widow">
            </div>
            <p>             
              The mostly self-contained story packs a surprising amount of heart and finally gives this long-running MCU character a proper send off. 
            </p>
            <a href="/oneFilm/Black%20Widow">Read More&nbsp.&nbsp.&nbsp.</a>
          </div>

          <div class="featured-content">
            <h2>Man of Steel</h2>
            <div class="image-container man-of-steel"></div>
            <p>
              Zack Snyder's Man of Steel is a gritty and realistic take on one of the most iconic superheroes ever. It's visually astonishing and action-packed.
            </p>
            <a href="/oneFilm/Man%20of%20Steel">Read More&nbsp.&nbsp.&nbsp.</a>
          </div>
          
          <div class="featured-content">
            <h2>Captain America</h2>
            <div class="image-container captain-america"></div>
            <p>
              A whizz-bang, retro-futuristic adventure offers an exhilarating thrill ride that perfectly captures the enduring optimism of the 1940s.  
            </p>
            <a href="/oneFilm/Captain%20America">Read More&nbsp.&nbsp.&nbsp.</a>
          </div>
        </div>
      </section>

      <section class="sliding-content">

      </section>
    </main>
    <footer></footer>
  </body>
</html>
