.wrapper {
  background: linear-gradient(to right, hwb(300 0% 80%) 0%, #000000 50%, hwb(300 0% 50%) 180%);
}
body {
  margin: 0;
}


.film-container {
    padding: 20px;
  text-align: center;
  }

  .film-container a {
    text-decoration: none;
  }

  .film-container h2 {
    transition: transform 0.3s
  }

  .film-container h2:hover {
    transform: scale(1.1);

  }

  .film-container h2 {
  font-family: "Anton", sans-serif;
  }

  .film-container p {
    color:aliceblue;
  }