body {
    margin: 0;
}

.wrapper {
    background: linear-gradient(to right, hwb(300 0% 80%) 0%, #000000 50%, hwb(300 0% 50%) 180%)
   
}

.data-container {
    display: flex;
}

.title {
    color: purple;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}



.data {
    color: aliceblue;
    width: 50%;
    display: flex;
    justify-content: center;
}

.btn-container {
    display: flex;
   justify-content: center;
   margin-top: 80px;
   padding-bottom: 300px;
}

.delete-btn {
    margin-right: 40px;
    background-color: purple;
    border: none;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.delete-btn input {
    background-color: purple;
    border: none;
    color: white;
    font-size: 20px;
}


 .delete-btn:hover {
      background-color: darkred;
    }  


.update-btn {
    margin-left: 40px;
    background-color: purple;
    border: none;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
   border-radius: 5px;
}

.update-btn a {
    color: white;
    text-decoration: none;
     font-size: 20px;
}

.update-btn:hover {
    background-color: darkred;
  } 

  
 