body {
    margin: 0;
}

.wrapper {
    background: linear-gradient(to right, hwb(300 0% 80%) 0%, #000000 50%, hwb(300 0% 50%) 180%);
    padding-bottom: 225px;
}

.data-container {
    display: flex;
}

.title {
    color: purple;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.data {
    color: aliceblue;
    width: 50%;
    display: flex;
    justify-content: start;
    margin-top: 40px;
}
.data input {
    display: block;
    margin-bottom: 20px;
}

.update {
    background-color: purple;
    color: white;
    font-size: 20px;
    padding: 5px;
    border-radius: 5px;
    transition: 0.3s
}

.update:hover {
    background-color: darkred;
}

a {
    color: white
}

